<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src = "../../../assets/Antra-black.png" width="175">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" style="margin-left: 2%;">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="''">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="'/Jobs'">Jobs</a>
            </li>
            <div *ngIf="!LoggedIn">
                <li class="nav-item" style="position: absolute; right: 9%;">
                    <a class="nav-link" [routerLink]="'Account/Login'">Login</a>
                </li>
                <li class="nav-item" style="position: absolute; right: 2%;">
                    <a class="nav-link" [routerLink]="'Account/Register'">Register</a>
                </li>
            </div>
            <div *ngIf="LoggedIn">
                <li class="nav-item">
                    <a class="nav-link" href="#">Application Status</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary" role="button" href="#">Logout</a>
                </li>
            </div>

        </ul>
    </div>
</nav>