<p>Welcome Back, Master!</p>
<!--Two Way Binding Example
<form>
    <input type="text" [(ngModel)]="exampleVariable" name="exampleVariable" />
    <button type="submit">Submit</button>
</form>


<p>
    {{exampleVariable}}
</p>
-->

<div class = "rounded">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 col-lg-3 col-sm-4 col-xl-2" *ngFor="let job of avaliableJobs">
                <div class="card mb-4">
                    {{job.title}}
                    <hr><br>
                    {{job.description}}
                    <hr><br>
                    {{job.startDate}}
               </div>
            </div>
        </div>
    </div>
</div>